/* Importing 'Poppins' font with specified weights */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Smooth scrolling for HTML element */
html {
  scroll-behavior: smooth;
}

/* Body Styles */
body {
  margin: 0 !important;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

::-webkit-scrollbar-track {
  background: #222a35;
}

::-webkit-scrollbar-thumb {
  background: #575c66;
  border-radius: 6px;
}

/* Hover effect on scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #626970;
}
