/* Importing 'Poppins' font with specified weights */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Applying universal box-sizing for consistency */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: green;
  color: #fff;
  line-height: 1.6;
  background: '#222A35';
}

.footer {
}
